@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,500;0,600;1,100&display=swap');

body{
    background-color: #fafafa !important;
    font-family:  "Poppins", Arial, sans-serif;
}
.primary{
    background-color: #FFCC1D;
    color: #595260;
    border-color: #fcdf82;
}
.accordion-item{
    border: none !important;
}
.accordion-button:focus{
    border-color: none !important;
    box-shadow: none !important;
}
.accordion-button:not(.collapsed){
    background-color: #fff !important;
    color: #212529;
}
.card-body{
    background-color: rgba(0, 0, 0, 0.02);
}
.btn{
    box-shadow: 0px 8px 18px -16px rgb(0 0 0 / 19%) !important;
}
.btn:hover{
    box-shadow: 0px 8px 18px -16px rgb(0 0 0 / 19%) !important;
}
small{
    color: rgba(0, 0, 0, 0.4);
}